<div class="row align-items-start">
  <div class="col-8">
    <%= render partial: "shared/article_card", collection: @articles, as: :article %>
    <div class="d-flex justify-content-center">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
  <div class="col-4 d-flex flex-column gap-3">
    <h4 class="fw-bold fs-5"><%= t(".people_may_interested") %></h4>
    <%= render partial: "shared/user_card", collection: @users, as: :user %>
  </div>
</div>
