<div class="modal fade" id="likedUsersModal" tabindex="-1" aria-labelledby="likedUsersModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="likedUsersModalLabel">
          <%= t("articles.liked_user") %>
          <span class="text-primary">(<%= article.like_count %>)</span>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render partial: "shared/user_item", collection: article.liked_users, as: :user %>

        <% if article.liked_users.empty? %>
          <p class="text-muted"><%= t("articles.no_likes_yet") %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
