<div id=<%= "like-form-#{article.id}" %>>
  <% if current_user.like?(article) %>
    <%= render partial: "shared/unlike", locals: { article: article } %>
  <% else %>
    <%= render partial: "shared/like", locals: { article: article } %>
  <% end %>
</div>
