<%= render "profile_header" %>

<h2 class="followers-title"><%= @title %></h2>
<% if @users.empty? %>
  <p class="text-center text-muted mt-5"><%= t "profile.no_relationships" %></p>
<% else %>
  <div class="relationships-grid">
    <%= render partial: "shared/user_card", collection: @users, as: :user  %>
  </div>
<% end %>
